@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
    
}
body{
    background-color: #F1F1F3;
}
/* primary selector  */
h2{
    font-size: 35px;
    font-weight: bold;
}
p{
    font-size: 15px;
    padding: 24px 0;
    opacity: .7;
}
.primary-button{
    height: 48px;
    width: 139px;
    background-color: #006A50;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
}
/* nav-bar starts from here  */
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 31px 160px 0 160px;
    margin-bottom: -4rem;
}
.nav-title{
    font-size: 25px;
    font-weight: bold;
}
.nav-btn button{
    /* width: 116px;
    height: 52px; */
    border:1px solid rgb(0, 106, 80);;
    padding: 15px 30px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    background-color: #FFFFFF;
    color: #006A50;
}
/* Banner section starts from here  */
.banner-container{
    display: flex;
    justify-content: center;
}
.banner{
    background-color: #C6E4D6;
    height: 560px;
    max-width: 1280px;
    border-radius: 24px;
    margin: 120px 160px;
    display: flex;
    padding-right: 2rem;
}
.banner-description{
    margin: 136.5px 64px 136.5px 60px;

}
.banner-img{
    /* margin: 80px 60px;
    height: 400px;
    width: 474px; */
    display: flex;
    align-items: center;
}
.banner-img img{
    height: 400px;
    width: 420px;
}
.bannerh4{
    font-size: 24px;
    opacity: .4;
    font-weight: 500;
    height: 29px;
    width: 622px;
    margin-bottom: 16px;
}
.bannerh1{ 
    font-size: 56px;
    font-weight: bold;
    height: 201px;
    width: 622px;
    margin-bottom: 24px;
}
.banner-btn{
    padding: 13px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #006A50;
}

/* the vision of future section starts here  */
.vision-container{
    margin: 0 140px 0 160px;
    /* padding-right: 1rem; */
}
.vision-description{

}

.vision-data{
    display: flex;
    max-width: 1290px;
}
.digital{
    width: 350px;
    height: 250px;
    background-color: rgba(84, 144, 245, 0.2);
    margin-right: 20px;
    padding: 30px;
    border-radius: 15px;
}
.digital h3,.green h3,.modern h3{
    margin-top: 2rem;
    margin-bottom: -.5rem;
}
.green {
    width: 350px;
    height: 250px;
    background-color: rgb(198, 228, 214);
    margin-right: 20px;
    padding: 30px;
    border-radius: 15px;
    gap: 50px;
}
.modern{
    width: 350px;
    height: 250px;
    background-color: rgb(247, 235, 207);
    margin-right: 20px;
    padding: 30px;
    border-radius: 15px;
    margin-left: ;}
.digital button{
    width: 130px;
    height: 50px;
    /* padding: 20px 11px; */
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(84, 144, 245);
}
.green button{
    width: 130px;
    height: 50px;
    /* padding: 20px 11px; */
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background-color: #09A15C;
    margin-top: 1rem;
}
.modern button{
    width: 130px;
    height: 50px;
    /* padding: 20px 11px; */
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    background-color: #FFC239;
}

/* Yunus section starts here  */
.yunus-container{
    background-image: url(assets/quote-bg.png);
    background-origin: content-box;
    background-repeat: no-repeat;
    background-color: #ffffff;
    max-width: 1280px;
    max-height: 150px;
    margin: 32px 160px 0 160px;
    padding: 30px 24px;
    border-radius: 16px;
}
.yunus-description h3{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: -1rem;
    margin-top: .5rem;
}

/* Recent news section starts here  */
.news-container{
    max-width: 1280px;
    margin: 32px 160px 0 160px;
}
.news-description h1{
    font-size: 35px;
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: -.5rem;
}
.news-satellite1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 300px;
    padding: 48px;
    background-color: #ffffff;
    border-radius: 20px;
}
.satellite1-img img{
    border-radius: 20px;
    max-height: 310px;
    max-width: 410px;
}
.satellite1-data{
    margin-left: 32px;
    gap: 0px;
}
.satellite1-date{
    margin-top: -.6rem;
    margin-bottom: -1rem;
}
.satellite1-data h2{
    padding-bottom: 1.5rem;
    font-size: 30px;
    opacity: .7;
}

/* satellite2  */
.news-satellite2{
    margin-top: 30px;
}

/* Donate section starts here   */
.donate-container{
    max-width: 1280px;
    margin: 32px 160px 0 160px;
    padding: 70px;
    text-align: center;
}
.donate-title h1{
    font-size: 38px;
    font-weight: bold;
}
.donate-datas{
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    margin-left: -1rem;
}
.donate-data{
    width: 240px;
    /* height: 28px; */
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: #ffffff;
    border-radius: 13px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
#donate-data{
    width: 240px;
    /* height: 28px; */
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color:rgb(198, 228, 214);
    border-radius: 13px;
    margin-left: 40px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    
}
.donate-amount{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.donate-amount input{
    text-align: center;
    margin:32px 50px 32px 50px;
    padding: 20px 200px;
    font-size: 20px;
    border: none;
    background-color: #FFFFFF;
}

/* Subscribe section starts here  */
.sub-container{
    text-align: center;
}
.sub-input{
    
}